div {
    text-align: center
}

table, th, td {
  border: 1px solid black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

th, td {
  width: 20%
  text-align: center
}
